.option-box .color-option {
    border: 4px solid #E41B17;
}

.option-box .gear-check,
.navbar form button:hover 
{
    background-color: #E41B17;
}

.navbar form button 
{
    border: 1px solid #E41B17;
}

.navbar-brand span,
.about span,
.footer h3,
.footer .copyright span
{
    color: #E41B17;
}
